header, footer {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    font-family: Helvetica, sans-serif;
    font-size: 0.7em;
}

#content {
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin: 8em 0;
}

#icon {
    font-family: monospace;
    font-size: 7em;
    margin: 0;
}

#horoscope {
    font-family: Georgia, serif;
    font-size: 5em;
    margin: 0.5em;
}

#animal {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 0.6em;
}
